<section id="projects" class="scroll-offset bg-light pb-1">
    <div class="container">
        <div class="title">
            <h2>Projects</h2>
        </div> <% for(let project of projects) { %> 
        <div class="project row bg-body rounded-3 shadow mt-5">
            <div class="col-12 col-md-4 p-0">
                <img src="<%= project.image %>" class="rounded-3" alt="<%= project.name %>">
            </div>
            <div class="col p-4">
                <h3><%= project.name %></h3>
                <p><%= project.description %> </p> 
                <div class="d-flex flex-column-reverse flex-md-row justify-content-between">
                    <!-- Buttons -->
                    <div class="mt-auto col-auto"> <% if (project.url) { %>
                        <a href="<%= project.url %>" class="btn btn-outline-dark" target="_blank">Preview <i class="fas fa-external-link-alt"></i></a><% } %>   <% if (project.github) { %>
                        <a href="<%= project.github %>" class="btn btn-dark" target="_blank">GitHub <i class="fa-brands fa-github"></i></a> <% } %>
                    </div>
                    <!-- Pills -->
                    <div class="mb-5 mb-md-0 p-0 ps-md-4"><% for(let tag of project.tags) { %>
                        <span class="badge rounded-pill bg-light text-dark"><%= tag %></span> <% } %>
                    </div>
                </div>
            </div>
        </div> <% } %> 
    </div>
</section>